* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background: url('https://img.freepik.com/premium-psd/color-tshirt-mockup_126278-41.jpg?ga=GA1.1.2129715342.1733130944&semt=ais_hybrid') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.shop-now-btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

.shop {
    padding: 50px 0;
    text-align: center;
}

.shop h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
}

.add-to-cart-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    background-color: #ff6347;
}

.about, .contact {
    padding: 50px 0;
    text-align: center;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
